
.copy_right_footer{
    position:fixed;
    color: #fdffb5;
    bottom: 0;
    width: 100%;
    background-color: rgb(28, 0, 151);
    line-height: 3;
    text-align: center;
    
}

canvas
{
    border:2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}
video{
    margin: 140px;
    margin-right: 50px;
    margin-left: 50px;
}